{% extends "base.html" %}

{% block content %}

<!-- welcome message -->
<div class="p-6 place-items-center text-white">
    <h1 class="text-center text-5xl p-6">Welcome<h1>
    <p class="text-center p-6 text-3xl" >Hi there, this is simple language practice platform.</p>
    
</div>

<div>
 
    <p class="text-center p-6 text-xl italic text-white" >Please note that the platform is in beta stage. We are constantly updating the platfrom to give you the best experience.</p>

</div>


<div class="grid place-items-center p-3 gap-6">
   
    <button class="bg-gradient-to-r from-purple-400 to-purple-300 text-white font-bold py-2 px-4 rounded "> <a href="login/"> Login </a> </button>
    <button class="bg-gradient-to-r from-purple-400 to-purple-300 text-white font-bold py-2 px-4 rounded "> <a href="signup/"> Register </a> </button>

</div>


{% endblock content %}
