{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="mx-auto max-w-2xl">
    <div class="p-6" >
        <form class="bg-purple-400 shadow-md rounded px-8 pt-6 pb-8 mb-4"  action={% url "create_room" %} method="post">{% csrf_token %}
            <label for="room-name-input">Room Name</label>
            <input id="room-name-input" name="roomname" class="p-2 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="You can type here..." value="{{context}}">
            
            <label for="room-description-input">Room Description</label>
            <textarea id="room-description-input" name="roomdescription" class="p-2 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Why?.... What for?...." rows="3"></textarea>
            
            <div class="flex items-center justify-between mt-3">
                <button class="p-2 place-items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" >Create</button>            
            </div>
        </form>         
    </div>
</div>

<div class="p-3">
    <p class="text-4xl text-white text-center">Available Chatrooms</p>
</div>

<div class="grid grid-cols-3 auto-rows-min">

    {% for room in objects %}
    <div class="p-3">
        <div class="mb-3">      
            <div class="p-3 bg-slate-400 rounded-xl mb-6">
                <p>{{room.name}}</p>
                {% if room.description %}
                    <p>{{room.description}}</p>
                {% endif %}
                <a href="{% url 'join_room' room.slug %}"><button class="p-2 place-items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Join</button></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}