{% extends "base.html" %}

{% load static %}


<!-- below will be passed to the base html. Reserved only for JS -->
{% block headcontent %}
<script src={% static 'homefeed/mobilehome.js' %}></script>
<script src={% static 'homefeed/homemain.js' %}></script>

<script>
    const file_upload = document.getElementById("myFile")
    const msg = document.getElementById("file-upload-message")

    file_upload.addEventListener("change", e =>{
        file = file_upload.value.split('\\').at(-1)
        file_ext = file.split('.').at(-1)
        if (file_ext=='jpeg' || file_ext=='jpg' || file_ext=='png' || file_ext=='gif'){
            msg.innerHTML= file+" uploaded!"
        }
        else{
            window.alert("only images are allowed")
        }
    })

</script>



{% endblock headcontent %}



{% block content %}

<div class="container mx-auto p-3">

    <!-- Post upload form     -->
    <div class="p-6" >
        <form class="bg-purple-400 shadow-md rounded px-8 pt-6 pb-8 mb-4"  action={% url "postupload" %} method="post" enctype="multipart/form-data">{% csrf_token %}
            <textarea class="p-2 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  name="user_post", placeholder="Share something..." rows="6"></textarea>
            <div class="flex items-center justify-between">
                <button class="p-2 place-items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" >Post</button>
                
                <input class="hidden" type="file" id="myFile" name="image_upload" accept="image/" >
                
                <label for="myFile">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
                    </svg>
                </label>

                
                <!-- <button id="menu-button" class="right">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
                    </svg>                  
                </button> -->
                
            </div>

            <div>
                <p id="file-upload-message" class="italic"></p>
            </div>
        </form>       
    </div>


    <div><p class="text-3xl mb-6 text-center text-white">Trending posts</p></div>
    {% get_media_prefix %}{{current_user.profile_image}}

    
    	
    <div class="mx-auto p-3">
            <!-- for card -->
            {% for g_posts in data %}

            <div>

                <div id="card-{{g_posts.id}}">

                    <div class="p-3 bg-slate-400 rounded-xl mb-6" >
                        <div class="flex items-center">
                            <img class="p-2 shadow rounded-full w-20 border-none" src="{% get_media_prefix %}{{g_posts.profile_image}}" alt="user-image">
                            <p class="p-2 items-center"> {{g_posts.user_name}}</p>
                            <p class="right">{{g_posts.posted_on}}</p>
                        </div>

                        {% if g_posts.image_post %}
                            <div class="pt-2 grid place-items-center">
                                <img class="h-60 object-cover rounded-xl" src="{% get_media_prefix %}{{g_posts.image_post}}" alt="user_post">
                            </div>
                            <div class="p-6">{{g_posts.post_text}}</div>
                        {% else %}
                            <div class="p-3">
                                <div class="p-6 border bg-white rounded" >{{g_posts.post_text}}</div>
                            </div>
                        {% endif %}
                        
                        

                        <div id="votebutton" class="flex p-2 border rounded" >
                            
                            <div class="flex p-2">
                                <button id="upvote-button" hx-post={% url 'upvote' g_posts.id %} hx-target="#upvote-counthtmx{{g_posts.id}}">
                                    {% if g_posts.vote == 'up' %}
                                        <div id="post-vote-color-up" class="upclass bg-green-500 rounded">
                                    {% else %}
                                        <div id="post-vote-color-up" class="upclass">
                                    {% endif %}
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z" />
                                            </svg>
                                        </div>
                                </button>
                                <div id="upvote-counthtmx{{g_posts.id}}" hx-get={% url 'upvote' g_posts.id %}  hx-trigger="load" hx-target="#upvote-counthtmx{{g_posts.id}}"> </div>
                            </div>
                            

                            <div class="flex items-center p-2">
                                    <button id="downvote-button" hx-post={% url 'downvote' g_posts.id %} hx-target="#downvote-counthtmx{{g_posts.id}}">
                                        {% if g_posts.vote == 'down' %}
                                            <div id="post-vote-color-down" class="downclass bg-red-500 rounded">
                                        {% else %}
                                            <div id="post-vote-color-down" class="downclass"> 
                                        {% endif %} 
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 15h2.25m8.024-9.75c.011.05.028.1.052.148.591 1.2.924 2.55.924 3.977a8.96 8.96 0 01-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398C20.613 14.547 19.833 15 19 15h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 00.303-.54m.023-8.25H16.48a4.5 4.5 0 01-1.423-.23l-3.114-1.04a4.5 4.5 0 00-1.423-.23H6.504c-.618 0-1.217.247-1.605.729A11.95 11.95 0 002.25 12c0 .434.023.863.068 1.285C2.427 14.306 3.346 15 4.372 15h3.126c.618 0 .991.724.725 1.282A7.471 7.471 0 007.5 19.5a2.25 2.25 0 002.25 2.25.75.75 0 00.75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 002.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384" />
                                                </svg>  
                                            </div>    
                                        </button>
                                
                                <div id="downvote-counthtmx{{g_posts.id}}" hx-get={% url 'downvote' g_posts.id %} hx-trigger="load" hx-target="#downvote-counthtmx{{g_posts.id}}"></div>
                            </div>

                            {% if request.user == g_posts.user_name %}
                                <div>
                                    <button class="place-items-center" hx-delete={% url 'delete_post' g_posts.id %} hx-confirm="Are you sure you want to delete?" hx-trigger="click" hx-target="#card-{{g_posts.id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                        </svg>    
                                    </button>                                
                                </div>
                            {% endif %}
                            
                            
                        </div>

                    </div>

                </div>

            </div>
            {% endfor %}
    

    </div>
         
        

</div>

{% endblock content %}