{% extends "base.html" %}

{% block content %}


<div class="main-home" style="width: 70%; float: left; ">

    {% load static %}
    <div class="w3-card-4" style="width: 25%; display: inline-block; float:left; margin: 20px;">
        <img src="{% get_media_prefix %}blank-profile-picture.png" alt="Avatar" style="width:100%">
        <div class="user-name-bio" >
            <h4><b>{{c_user}}</b></h4> 
            <p>Bio will come here</p> 
        </div>
    </div>



    <div class="the-home" style="float: right; width: 70%;"> 

    
        <div class="w3-card-4" style="width: 90%; padding: 1%; float: right; margin: 30px;" >

            <div class="upload-post">
                <form action={% url "postupload" %} method="post">{% csrf_token %}
                    <div><input type="text" name="user_post", placeholder="Share something..."></div>
                    <div><input type="submit" value="Post"></div>
                </form>

            </div>
            
        </div>

        
        <!-- <div class="filter-at-home" style="position:absolute;"> 
            Filter

        </div> -->


        <div class="post-list-place" style="float:right; width:100%;"> 

            {% for g_posts in post %}
            <div class="w3-card-2" style="padding: 16px; margin-bottom: 20px; margin: 20px;">
                <div class="individual-post">
                    <div class="user-details">
                        {{g_posts.user_name}}
                    </div>
                    
                    <div class="post-details">
                        {{g_posts.post_text}}
                    </div>

                    <div class="post-actions">
                        up down
                    </div>
                    
                    
                </div>
            </div>
            {% endfor %}

        </div>


    </div>
    
</div> 

{% endblock content %}