<!DOCTYPE html>
<html>
<head>
<title>langpal| Welcome</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
{% load static %}
<link rel="stylesheet" href={% static 'base.css' %}>

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

<style>
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}
</style>
</head>

<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="{% url 'homefeed' %}" class="w3-left w3-button w3-white">langpal</a>

    
    {% if request.user.is_authenticated is True %}
    <a href="{% url 'logout_view' %}" class="w3-right w3-button w3-white">Logout</a>
    <a href="{% url 'about_home' %}" class="w3-right w3-button w3-white">About</a>
    <a href="{% url 'wordapp_home'%}" class="w3-right w3-button w3-white">Wordpal</a>
    <a href="{% url 'learnbyreading' %}" class="w3-right w3-button w3-white">Read</a>
    <a href="{% url 'practicehome' %}" class="w3-right w3-button w3-white">Practice</a>
    {% endif %}
  </header>

    
<!-- End Page Content -->
</div>


<!-- Extended templates -->
<div>

  {% block content %}
  
  {% endblock content %}

</div>



<!-- Footer / About Section -->
<footer>
  
</footer>
 
</body>
</html>
