<!DOCTYPE html>
<html>
<head>
<title>langpal| Welcome</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
{% load static %}
 <!-- <link rel="stylesheet" href={% static 'base.css' %}> -->
<link rel="stylesheet" href={% static 'main.css' %}>

<script src={% static 'htmx.min.js' %}></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body class="bg-gradient-to-l from-gray-900 via-purple-900 to-violet-600" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  <nav class="fixed top-0 left-0 right-0 w-[100%] mx-auto bg-red-500 p-6 text-4xl"> 

    <div class="flex items-center justify-between">

      <div>
        <a href="{% url 'homefeed' %}" class="text-4xl">langpal</a>
      </div>
      
      {% if request.user.is_authenticated is True %}
      <ul class="hidden md:flex gap-6">
        <li><a href="{% url 'practicehome' %}" class="text-3xl">Practice</a></li>
        <li><a href="{% url 'all_rooms' %}" class="text-3xl">Chatroom</a></li>
        <li><a href="{% url 'wordapp_home'%}" class="text-3xl">Wordpal</a></li>
        <li><a href="{% url 'learnbyreading' %}" class="text-3xl">Read</a></li>
        <li><a href="{% url 'about_home' %}" class="text-3xl">About</a></li>
        <li><a href="{% url 'logout_view' %}" class="text-3xl">Logout</a></li>
        <li><a href="{% url 'userupdate_view' %}" class="text-3xl"><img class="shadow rounded-full w-20  border-none" src="{% get_media_prefix %}{{current_user.profile_image}}" alt="user-image"></a></li>
      </ul>
      

      <button id="menu-button" class="md:hidden ">
        <div id="menu-open" class="">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
          </svg>  
        </div>
           
        
        <div id="menu-close" class="hidden">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
        
      </button>

    </div>

    <!-- menu -->
    <div class="md:hidden">
      <div id="menu" class="hidden absolute flex flex-col items-center self-end  py-8 mt-10 bg-white
      space-y-10 sm:w-auto sm:self-center left-3 right-3
      drop-shadow-md">
        <ul class="">
          <li><a href="{% url 'practicehome' %}" class="text-3xl">Practice</a></li>
          <li><a href="{% url 'all_rooms' %}" class="text-3xl">Chatroom</a></li>
          <li><a href="{% url 'wordapp_home'%}" class="text-3xl">Wordpal</a></li>
          <li><a href="{% url 'learnbyreading' %}" class="text-3xl">Read</a></li>
          <li><a href="{% url 'about_home' %}" class="text-3xl">About</a></li>
          <li><a href="{% url 'userupdate_view' %}" class="text-3xl">Profile</a></li>
          <li><a href="{% url 'logout_view' %}" class="text-3xl">Logout</a></li>
        </ul>
      </div>
    </div>
  
    {% endif %}

  </nav>


<div class="mt-28">



  {% block content %}
  
  {% endblock content %}

</div>



<!-- Footer / About Section -->
<footer>
  
</footer>
 
</body>


<script src={% static 'homefeed/mobilemenu.js' %}></script>

{% block headcontent %}
  
{% endblock headcontent %}

</html>
