{% extends "base.html" %}

{% load static %}

<!-- below will be passed to the base html. Reserved only for JS -->
{% block headcontent %}

<script src={% static 'practice/learnbyreading.js' %}></script>


{% endblock headcontent %}


{% block content %}

<div>
    <p class="text-4xl text-center text-white p-3">Welcome to read along</p>
    
</div>

<div class="mx-auto max-w-2xl p-3 bg-white rounded mb-4">
    
    <div>
        <div class="mb-2">
            <p class="italic">The below sentence will be read aloud once "Read" button is clicked.</p>
        </div>
        

        <div class="p-2 rounded bg-green-500">
            <textarea id="toread" rows="5" class="w-full" type="text" > {{sentence}} </textarea>
        </div>

        <div class="p-3">
            <button onclick="readforme()" class="p-2 place-items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Read</button>
        </div>
        
    </div>

    
    <div class="p-3">

        <div class="flex mb-3">
            <div class="mr-3">
                <button id="button_sel" class="p-2 place-items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Start</button>
            </div>
    
            <div>
                <button onclick="clearread()" class="p-2 place-items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Clear</button>
            </div>
        </div>
        
        
        
        <div id="result" class="border rounded border-black p-3"> 
        </div>
    </div>
    
    

</div>



{% endblock content %}