{% extends "base.html" %}

{% load static %}

<!-- below will be passed to the base html. Reserved only for JS -->
{% block headcontent %}

<script src={% static 'practice/learnbyreading.js' %}></script>


{% endblock headcontent %}


{% block content %}

<div class="container mx-auto p-3 bg-white rounded mb-4">
    
    <div >
        <div class="p-3">
            <textarea id="toread" rows="5" class="w-full h-auto" type="text" > {{sentence}} </textarea>
        </div>
        
        <div class="p-3">
            <button onclick="readforme()" class="p-2 place-items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Read</button>
        </div>
        
    </div>
    
    <div>
        <button id="button_sel">Start</button>
    </div>
    
    
    <div id="result"> 
    </div>
    

</div>



{% endblock content %}